@import url("components/about.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/carousel.css");
@import url("components/collaborate.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/skills.css");
@import url("components/work.css");

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin-bottom: 32px;
    width: 80%;
}

