.about-section {
    width: 100%;
    padding: 100px 15px;
    margin: -40px auto 0 auto;
    background-color: #6c63ff;
    color: white;
    text-align: center;
  }

  .about-section h1 {
    padding-bottom: 16px;
  }

  .about-synopsis {
    width: 50%;
    text-align: center;
    color: white;
    padding-left: 120px;
    line-height: 2;
    margin: auto 280px;
  }