.about-section {
    width: 100%;
    padding: 120px 15px;
    margin-top: -60px;
    background-color: #6c63ff;
    color: white;
    text-align: center;
  }

  .about-section h1 {
    padding-bottom: 16px;
  }

  .about-synopsis {
    color: white;
    width: 50%;
    line-height: 2;
    margin: 0 auto;
    text-align: center;
  }