.banner {
    padding: 8px 0;
  }

  .banner h1 {
    margin: 0;
    color: rgb(50, 50, 50);
    font-size: 56px;
    font-weight: bold;
    line-height: 2;
  }

  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .banner img {
    width: 40%;
    height: 40%;
    display: block;
    margin: 0 auto;
    padding: 16px 0;
  }

  .banner .container {
    align-items: center;
  }

  .banner .container h1 {
    /* text-decoration: underline #6c63ff;
    text-shadow: rgba(50, 50 ,50, 0.8) 1px 1px; */
    text-align: center;
  }

  .banner .container h4 {
    font-weight: 300;
    text-align: center;
  }