.banner {
    padding: 80px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 56px;
    font-weight: bold;
    line-height: 2;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .banner img {
    width: 100%;
  }

  .banner .container {
    display: flex;
    align-items: center;
  }

  .banner .container h1 {
    /* border: 2px solid #3f3d56; */
    color: #6c63ff;
    border-bottom: 2px solid #3f3d56;
    border-left: 2px solid #3f3d56;
    padding-left: 16px;
    text-shadow: rgba(50, 50 ,50, 0.8) 1px 1px;
  }