.btn-flat {
    color: white;
    margin: 32px 0 0 108px;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    opacity: 0.8;
    color: white;
    border: 1px solid white;
  }